
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');




h1{
    font-size: 19px;

}
h2{
    font-size: 19px;
}
body{
    font-family:'Raleway', sans-serif;
    max-width: 1400px;    
}
a:hover{
    color: #0065FC;

}

/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/


.logo{
    width: 4rem;
    height: 3rem;
}


.navbar{
    color:#0065FC;
    display: flex; /*pour mettre les elements cote a cote*/
    justify-content: space-between;/* placer nos element sur l'axe principal dans ce cas un a gauche l'autre a droite*/


}
.navbar ul{
    display: flex;
    align-items: baseline; /* centrer sur l'axe secondaire*/
    list-style-type: none; /*enleve les poins*/
}
.navbar ul li a{
    color: black;
    padding: 12px; /*padding entre les liens*/
}
.navbar ul li a:hover{
    color: blue;
    border-top:1px solid#0065FC;
}
#inscrire{
    color: blue;
    position: relative;
}




.contenant{
    list-style-type: none;
    
    
}
.recherche{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0px 30px 20px;
}
.icon{
    background-color: #F2F2F2;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding:9.5px;

}
.input{
    padding:9px ;
    border: 1px solid #F2F2F2;
}
.btn{
    background-color:#0065FC;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 10px;
    border:none;
    color: white;
    
}
.btn:hover{
    background: #DEEBFF ;
 }
.filtre{
    display: flex;
    align-items: center;
    margin: 10px;
}
button{
    cursor: pointer;
}


.styled{
    display: flex;
    align-items: center; /* align-items: center; aligne le text */
    justify-content: space-around;
    margin-left: 16px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    font-weight: bold;
    background-color: white;
    height:35px;
    width: 183px;
}
.btnf{
    
    font-size: 23px; /* taille de l'icone*/
    color: #0065FC; /*couleur de l'incone*/
    width: 35px; /* largeur de la celule*/
    height: 35px;/* hauteur de la celule*/
    background-color: #DEEBFF;/*fond couleur celue*/
    border-radius: 25px; /* l'arrondie de la celule*/
    margin-left:-37px;
    
}
.bouton2{
    margin-left: 30px;
}
.fa-dog{
    text-align: justify;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.inf{
    
    font-size: 25px;
    color: #DEEBFF;
    margin-right: 10px;
    
}
/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

.bloc1{
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 2rem;
    padding:20px;
    margin-right: 3px;
    padding-bottom: 150px;
   
    
    
}
.bloc2{
    background-color:#F2F2F2 ;
    border-radius: 2rem; 
    padding-top: 20px;
    margin-left: 3px; 
    
}
.centre{
    display:flex   
}

.imgbloc1{
    position: relative;
    cursor: pointer;
    border-radius: 2rem;
    width:200px;
    margin: 15px;
    height: 150px;
    box-shadow: 4px 2px 2px 2px gray;
}
.d{
    font-size: 16px;
}

#bloc2{
    cursor: pointer;
    border-radius: 2rem;
    width:  260px;
    height: 150px;
    margin: 15px;
    box-shadow: 4px 2px 2px 2px gray;
     
}
#bloc3{
    cursor: pointer;
    border-radius: 2rem;
    width:250px;
    height: 200px;
    margin: auto;

}
.bloc3{
    height: 450px;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 2rem;
    padding:20px;
    margin-right: 3px;
    padding-bottom: 150px; }

footer{
    background-color: #F2F2F2;
    display: flex;
    align-items: top;
    align-content: flex-end;
    height: 150px;
    width: auto;
    list-style-type: none;    
}
.apropos{
    margin: 0px 20px 0px 20px;
}
.nos_hebergements{
    margin: 0px 20px 0px 20px;
}
.Assistance{
    margin: 0px 20px 0px 20px;
}
#footer .fin{
    text-decoration: none;
    color: black;
}

/* .iconfa{
    background: black;
} */

/* media queries */

@media all and (max-width: 350px)
{
    .body
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: row;
    }

}
