
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');





body{
    font-family:'Raleway', sans-serif;
    max-width: 1440px;    
}
a:hover{
    color: #0065FC;

}

/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/


.logo{
    width: 4rem;
    height: 3rem;
}


.navbar{
    color:#0065FC;
    display: flex; /*pour mettre les elements cote a cote*/
    justify-content: space-between;/* placer nos element sur l'axe principal dans ce cas un a gauche l'autre a droite*/


}
.navbar ul{
    display: flex;
    align-items: baseline; /* centrer sur l'axe secondaire*/
    list-style-type: none; /*enleve les poins*/
}
.navbar ul li a{
    color: black;
    padding: 12px; /*padding entre les liens*/
}
.navbar ul li a:hover{
    color: blue;
    border-top:1px solid#0065FC;
}
#inscrire{
    color: blue;
    position: relative;
}




.contenant{
    list-style-type: none;
    
    
}
.recherche{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0px 30px 20px;
}
.icon{
    background-color: #F2F2F2;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding:9.5px;

}
.input{
    padding:9px ;
    border: 1px solid #F2F2F2;
}
.btn{
    background-color:#0065FC;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 10px;
    border:none;
    color: white;
    
}
.btn:hover{
    background: #DEEBFF ;
 }
.filtre{
    display: flex;
    align-items: center;
    margin: 10px;
}
button{
    cursor: pointer;
}


.styled{
    display: flex;
    align-items: center; /* align-items: center; aligne le text */
    justify-content: space-around;
    margin-left: 16px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    font-weight: bold;
    background-color: white;
    height:35px;
    width: 183px;
}
.btnf{
    
    font-size: 23px; /* taille de l'icone*/
    color: #0065FC; /*couleur de l'incone*/
    width: 35px; /* largeur de la celule*/
    height: 35px;/* hauteur de la celule*/
    background-color: #DEEBFF;/*fond couleur celue*/
    border-radius: 25px; /* l'arrondie de la celule*/
    margin-left:-37px;
    
}
.bouton2{
    margin-left: 30px;
}
.fa-dog{
    text-align: justify;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.inf{
    
    font-size: 25px;
    color: #DEEBFF;
    margin-right: 10px;
    
}
/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

section{
    margin: 0;
    padding: 0;
    
}
.contenant1{
    width: 880px;
    height: 630px;
    margin: 5px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #F2F2F2;
    border-radius: 2rem;

}
.titre_hebergement{
  height: 30px;

}
.contenant1 .box{
    position: relative;
    width: 248px;
    height:196px;
    background: coral;
    margin: 0px 0 0 0;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2rem ;

}
.contenant1 .box .imgbox{
    position:relative
}
.contenant1 .box .imgbox img{
    max-width: 100%;
    border-radius: 2rem;
    margin: 2px solid white;
}
.size1{
    width: 270px;
    height: 180px;
}

.contenant1 .box .details{
    position: absolute;
    top: 55%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}
.contenant1 .box .details .blabla{
    position: absolute;
    top: 0%;
    left: 2%;
    color: black;
    font-size: 10px;
}
.contenant2{
    width: 280px;
    margin: 5px ;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 2rem;
    padding-block-start: 62px;
    padding-block-end: 23px;

}
.contenant2 .box2{
    position: relative;
    width: 341px;
    height:146px;
    background: coral;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2rem ;

}
.contenant2 .box2 .imgbox2{
    position:relative
}
.contenant2 .box2 .imgbox2 img{
    max-width: 100%;
    border-radius: 2rem;
    margin: 2px solid white;
}
.size2{
    width: 270px;
    height: 130px;
}
.contenant2 .box2 .details{
    position: absolute;
    top: 55%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}
.contenant2 .box2 .details .blabla2{
    position: absolute;
    top: 0%;
    left: 2%;
    color: blue;
    font-size: 10px;
}



.toto{
    cursor: pointer;
    border-radius: 2rem;
    width:250px;
    height: 200px;
    margin: auto;

}
.toto1{
    cursor: pointer;
    border-radius: 2rem;
    width:250px;
    height: 400px;
    margin: auto;

}
   
.end{
    background-color: #F2F2F2;
    display: flex;
    align-content:space-between;
    height: 130px;
    width: auto;
    list-style-type: none;    
}
.apropos{
    margin: 0px 20px 0px 20px;
}
.nos_hebergements{
    margin: 0px 20px 0px 20px;
}
.Assistance{
    margin: 0px 20px 0px 20px;
}
.end .fin{
    text-decoration: none;
    color: black;
}
.bloc3{
    border-radius: 2rem; 
    padding-top: 20px;
    margin-left: 3px; 
    
}


/* .iconfa{
    background: black;
} */

/* media queries */

@media all and (max-width: 350px)
{
    .body
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: row;
    }

}

